# Server-side only. Never expose NOTION_TOKEN in client code.
NOTION_TOKEN=
NOTION_AVAILABILITY_PROFILE_DATABASE_ID=70a49d16d3474eb8af9204a6404f6af3
NOTION_AVAILABILITY_WINDOWS_DATABASE_ID=823760a92c344d279abd1e166b1e8f4a
NOTION_VOLUNTEER_PIPELINE_DATABASE_ID=03192649741442fe86acdddcc7320798
